pandas==1.4.1
scikit-learn==1.0.2
numpy==1.21.5
ipython
tqdm
psutil
luigi==3.0.3
lightgbm==3.2.1
scikit-optimize==0.9.0
xlrd
azure-storage-blob==12.9.0
azure-storage-file-datalake==12.5.0
chardet
sweetviz
plotly==5.6.0
shap==0.40.0
seaborn
python-dotenv==0.18.0
pyyaml
flake8
fsspec
jinja2==3.0.3
psycopg2-binary==2.8.6
pyarrow==7.0.0
pytest
sqlalchemy==1.4.21
statsmodels
docutils==0.16.0
sphinx==3.4.3
mistune==0.8.4
sphinx_rtd_theme==0.5.1
recommonmark==0.7.1
m2r==0.2.1
sphinx-markdown-tables==0.0.15
black==22.1.0
sphinxcontrib-websupport==1.2.4
sphinx-csv-filter
openpyxl
